/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo span {
  font-size: 24px; 
  font-weight: 700;
  color: #ffffff;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  padding: 10px;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  background: #ffffff00;
  border-radius: 8px;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.5s;
}

.navbar-links a:hover {
  color: #ff0000;
  transition: color 0.5s;
}

.navbar-auth a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.navbar-links a.active {
  
  color: #ffffff;
  background: #c90000;
  border-radius: 8px;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

/* Login Container Styles */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.login-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login-tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  font-weight: 500;
}

.login-tabs button.active {
  background-color: #fff;
  border-bottom: 2px solid rgb(255, 0, 0);
}
.logo-icon{
  margin-right: 8px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-group-radio{
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  padding-bottom: 15px;
  text-align: center;
}

.form-group-radio label{
  margin-right: 50px;
}

.form-group input {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700; 
}
.error-message{
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.profile-photo-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}
.navbar-profile{
  display: flex;
}

.username {
  font-weight: bold;
  color: #ffffff;
}



/* My Leaves Component Styles */
.my-leave-block {
  max-width: 800px !important;
  max-height: 800px !important;
  overflow-y: scroll;
  margin: 20px auto;
  padding: 20px;
  background-color: lemonchiffon !important;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif; /* Updated font family */
}

.my-leave-block div {
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #ffffff !important;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.123);
}


/* Room Action Modal Styles */
.RoomAction-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.RoomAction-modal-inside {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  transition: all 0.3s ease;
}
.RoomAction-modal-inside input, .RoomAction-modal-inside select, .RoomAction-modal-inside textarea {
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

.RoomAction-modal-inside button {
  padding: 10px 15px;
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
}

.RoomAction-modal-inside button:hover {
  background-color: #cc0000;
}



/* Staff History Component Styles */
.staff-his {
  max-width: 1200px;
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  max-height: 100vh;
  overflow-y: scroll;
}